/* importa fonte principal */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* importa fonte scundaria */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* cria variáveis */
:root {
--fonte-principal: "Exo 2", sans-serif;
--fonte-secundaria: "Open Sans", sans-serif;

--preto: #2C2727;
--grafite: #454545;
--branco: #FFFFFF;

--laranja-escuro: #DC5F00;
--laranja: #FF6000;
--laranja-claro: #FFA559;
--bege: #FFE6C7;
}

body {
    font-family: var(--fonte-secundaria);
    background-color: var(--preto);
    color: var(--branco);
    margin: 0;
}

h1,h2,h3 {
    font-family: var(--fonte-principal);
}

a {
    color: var(--branco);
    text-decoration: none;
}
nav {
    background-color: var(--grafite);
}

li {
    display: inline-block;
}