main {
    background-image: url('../img/img-cadastro.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    text-align: center;
}

form {
    display: inline-block;
    text-align: center;
    width: 70%;
    margin: 100px;
    padding: 50px 0; 
}

.dados-pessoais,
.div-endereco{
    display: inline-block;
    text-align: start;
    width: 40%;
    margin-top: 30px;
}

.div-btn {
    display: inline-block;
    text-align: start;
    width: 100%;
    margin: 15px;
}


.btn {
    margin: 15px;
}

.btn-ativo {
    margin-right: 100px;
}

.alinha-esquerda {
    display: inline-block;
    text-align: start;
    width: 45%;
}

.alinha-direita {
    display: inline-block;
    text-align: end;
    width: 45%;
}

form a {
    display: block;
    text-align: start;
    margin: 10px 50px;
}


.div-btn label,
.div-btn p,
.div-btn a {
    margin: 10px 160px;
}